<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<script src="../../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../../css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" />
<title>Crear Reserva</title>
<meta content="" name="description">
<meta content="" name="keywords">
<link href="../../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../js/bootstrap.bundle.js" type="text/javascript"></script>

<!-- Favicons -->
<link href="../../img/favicon.png" rel="icon">
<link href="../../img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../../vendor/aos/aos.css" rel="stylesheet">
<link href="../../vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
	<link href="../../vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="../../vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="../../vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="../../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="../../css/style.css" rel="stylesheet">

</head>
<body>

	<!-- ======= Header ======= -->
	<header th:replace="/menu :: header"> </header>
	<!-- End Header -->

	<main id="main">




		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact">

			<div class="container" data-aos="fade-up">

				<header class="section-header">
					<h2>Editar</h2>
					<p>Cliente</p>
				</header>
				<div class="row gy-4">
					<div class="col-lg-6">
						<img src="../../img/features-2.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-6">
						<form action="#" th:action="@{/clientes/guardar}" class="form"
					th:object="${cliente}" method="post">
							<div class="row gy-4">
							
							<div class="col-md-6">
								<span>Id Cliente</span>
									<input type="text" th:field="*{id_cliente}" readonly="readonly" name="id-cliente" class="form-control">
								</div>

								<div class="col-md-6">
									<span>Nombre</span>
									<input type="text" th:field="*{nombre}" name="name" class="form-control"
										>
								</div>
								<div class="col-md-6">
									<span>Apellido</span>
									<input type="text" th:field="*{apellido}" name="last-name" class="form-control"
										>
								</div>
								<div class="col-md-6">
									<span>Teléfono</span>
									<input type="text" th:field="*{telefono}" name="telephone-number" class="form-control"
										>
								</div>
								<div class="col-md-12">
									<span>Dirección</span>
									<input type="text" th:field="*{direccion}" name="address" class="form-control"
										>
								</div>

								<div class="col-md-12 ">
									<span>Correo</span>
									<input type="email" th:field="*{correo}" class="form-control" name="email"
										>
								</div>

								
								<div class="col-md-12 text-center">
									<button type="submit"
									>Save</button>
								</div>

							</div>
						</form>

					</div>

				</div>

			</div>

		</section>
		<!-- End Contact Section -->

	</main>
		
	
	<!-- End #main -->
	<footer th:replace="/footer :: footer"> </footer>

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="../../vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="../../vendor/aos/aos.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../../vendor/glightbox/js/glightbox.min.js"></script>
	<script src="../../vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="../../vendor/swiper/swiper-bundle.min.js"></script>
	<script src="../../vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="../../js/main.js"></script>


</body>

</html>